hr {
    border-color: black;
    border-width: 1px;
    border-top: 30px transparent;
}

h3 {
    color: whitesmoke !important;
}

.inline {
    display: inline-block !important;
}

.header {
    height: 8rem;
}