BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: white
}
.header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: white; PADDING-TOP: 0px; BACKGROUND-COLOR: #77302C
}
font.pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 2em;
}
.hostedby {
	PADDING-RIGHT: 0px; PADDING-LEFT: 80%; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN: 0px; PADDING-TOP: 0px
}
.hostedby A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
.smalltext {
	FONT-SIZE: .75em;
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: smaller; BACKGROUND: #77302C; LEFT: 0px; PADDING-BOTTOM: 100px; MARGIN: 0px; WIDTH: 149px; COLOR: black; PADDING-TOP: 15px; POSITION: absolute; TOP: 0px
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menulist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #77302C; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; BORDER-BOTTOM: white 1px solid
}
#menu LI {
	PADDING-RIGHT: 0px; BORDER-TOP: white 1px solid; BORDER-BOTTOM: white 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu LI LI {
	PADDING-LEFT: 0.75em
}
#menu LI LI LI {
	PADDING-LEFT: 1em; FONT-STYLE: italic
}
#menu LI P {
	BORDER-RIGHT: white 11px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: black 10px solid; WIDTH: 100%; PADDING-TOP: 5px
}
#menu LI H2 {
	FONT-SIZE: 1.1em; BORDER-RIGHT: white 11px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: black 10px solid; WIDTH: 100%; PADDING-TOP: 5px
}
#menuselected {
	BORDER-LEFT: #77302C 10px solid; BACKGROUND-COLOR: #77302C
}
#menu LI A {
	BORDER-RIGHT: black 11px solid; DISPLAY:block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 5px; BORDER-LEFT: black 10px solid; WIDTH: 121px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
#menu LI A:hover {
	BORDER-LEFT: #77302C 10px solid; COLOR: white;  BACKGROUND-COLOR: #77302C
}
.content {
	PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN-LEFT: 12em; max-width: 40em
}
.content H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; MARGIN-BOTTOM: 1em; BORDER-BOTTOM: black 1px solid
}
.content H2 {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; BORDER-BOTTOM: #cccccc 1px solid
}
.content H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; FONT-STYLE: italic
}
.content H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 0em; MARGIN-BOTTOM: 1em; BORDER-BOTTOM: black 1px solid
}
.content PRE {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: black 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: black 1px solid; WIDTH: 100%; PADDING-TOP: 1em; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #cccccc
}
TABLE.documentation {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: small; MARGIN-LEFT: 1em; BORDER-LEFT: white 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #eeeeee
}
TABLE.documentation TR.oddrow {
	BACKGROUND-COLOR: #dddddd
}
TABLE.documentation TH {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
TABLE.documentation TD {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
TABLE.documentation TH {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: black; TEXT-ALIGN: left
}
TABLE.documentation TD {
	VERTICAL-ALIGN: top
}
TABLE.documentation TD DL {
	MARGIN: 0px 0px 0px 1em
}
TABLE.documentation TD DL DT {
	FONT-WEIGHT: bold
}
