projectFilesBackup/
*.iws
.DS_Store
.svn
.credentials.dat
.ijwb
mockpiframe.log
mockpiframe.log.lck
junitvmwatcher*.properties
test-output/
.*.swp
*~
common/build
/build/
cpp/iedriver/IEReturnTypes.h
java/client/src/org/openqa/selenium/ie/IeReturnTypes.java
java/server/test/org/openqa/selenium/example
javascript/deps.js
javascript/node/selenium-webdriver/node_modules/
javascript/node/selenium-webdriver/lib/atoms/get-attribute.js
javascript/node/selenium-webdriver/lib/atoms/is-displayed.js
javascript/safari-driver/node_modules/
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/scopes/
.idea/qaplug_profiles.xml
out
cpp/IEDriver/sizzle.h
third_party/gecko-*
cpp/iedriver/Generated/atoms.h
cpp/iedriver/sizzle.h
chromedriver.log
junit*.properties
*.rbc
.rbx
.yardoc
rb/.yardoc
.tm_properties
maven/*/src
maven/target
maven/*/target
maven/.idea
maven/*.iml
maven/*/*.iml
maven-metadata-.xml
maven-metadata-.xml.sha1
node_modules/
resolver-status.properties
java/build/
java/client/build/
java/client/log.txt
java/client/iedriver.log
java/server/build/
__pycache__
.tox
*.pyc
dist/
py/selenium/webdriver/firefox/amd64/
py/selenium/webdriver/firefox/webdriver.xpi
py/selenium/webdriver/firefox/webdriver_prefs.json
py/selenium/webdriver/firefox/x86/
py/selenium/webdriver/remote/getAttribute.js
py/selenium/webdriver/remote/isDisplayed.js
py/docs/build/
py/build/
py/LICENSE
selenium.egg-info/
third_party/java/jetty/jetty-repacked.jar
*.user
*.cache
obj/
*.opensdf
*.suo
*.sdf
*.vs
*.opendb
*.VC.db
*.aps
launchSettings.json
Generated/
ipch/
/iedriver.log
/phantomjsdriver.log
geckodriver.log
ghostdriver.log
.tags
.ruby-version
GPATH
GRTAGS
GSYMS
GTAGS
Gemfile.lock
/rb/.bundle
/rb/.idea
.sonar/
.idea/sonarIssues.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
third_party/py/googlestorage/client_secrets.json
venv
venv3
py/.idea

# Bazel stuff
bazel-bin
bazel-genfiles
bazel-out
bazel-selenium
bazel-testlogs

/.vscode/
/.scannerwork/
