projectFilesBackup/
*.iws
.DS_Store
.svn
.credentials.dat
.ijwb
mockpiframe.log
mockpiframe.log.lck
junitvmwatcher*.properties
test-output/
.*.swp
*~
.aspect/
common/build
/build/
cpp/iedriver/IEReturnTypes.h
dotnet/.idea/
dotnet/packages/
java/client/src/org/openqa/selenium/ie/IeReturnTypes.java
java/server/test/org/openqa/selenium/example
javascript/deps.js
javascript/node/selenium-webdriver/node_modules/
javascript/node/selenium-webdriver/lib/atoms/find-elements.js
javascript/node/selenium-webdriver/lib/atoms/get-attribute.js
javascript/node/selenium-webdriver/lib/atoms/is-displayed.js
javascript/node/selenium-webdriver/lib/atoms/mutation-listener.js
javascript/safari-driver/node_modules/
javascript/webdriver/devtools/types/
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/scopes/
.idea/sonarlint/
.idea/qaplug_profiles.xml
out
cpp/IEDriver/sizzle.h
third_party/gecko-*
cpp/iedriver/Generated/atoms.h
cpp/iedriver/sizzle.h
chromedriver.log
junit*.properties
*.rbc
.rbx
.yardoc
rb/.yardoc
.tm_properties
maven/*/src
maven/target
maven/*/target
maven/.idea
maven/*.iml
maven/*/*.iml
maven-metadata-.xml
maven-metadata-.xml.sha1
node_modules/
resolver-status.properties
java/build/
java/client/build/
java/client/log.txt
java/client/iedriver.log
java/server/build/
__pycache__
.tox
*.pyc
dist/
py/selenium/webdriver/common/devtools/**/*
!py/selenium/webdriver/common/devtools/util.py
py/selenium/webdriver/common/linux/
py/selenium/webdriver/common/macos/
py/selenium/webdriver/common/mutation-listener.js
py/selenium/webdriver/common/windows/
py/selenium/webdriver/firefox/webdriver_prefs.json
py/selenium/webdriver/remote/findElements.js
py/selenium/webdriver/remote/getAttribute.js
py/selenium/webdriver/remote/isDisplayed.js
py/docs/build/
py/docs/source/**/*
py/build/
py/LICENSE
py/pytestdebug.log
py/python.iml
selenium.egg-info/
third_party/java/jetty/jetty-repacked.jar
*.user
*.cache
dotnet/**/bin/
obj/
*.opensdf
*.suo
*.sdf
*.vs
*.opendb
*.VC.db
*.aps
launchSettings.json
Generated/
ipch/
/iedriver.log
/phantomjsdriver.log
geckodriver.log
ghostdriver.log
.tags
GPATH
GRTAGS
GSYMS
GTAGS
/rb/.bundle
/rb/.idea
rb/bin/
rb/lib/selenium/devtools/v1*
rb/.gem_rbs_collection/
.sonar/
.idea/sonarIssues.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
third_party/py/googlestorage/client_secrets.json
.venv
venv
venv3
py/.idea
rust/target
rust/.idea

# Bazel stuff
bazel-bin
bazel-genfiles
bazel-out
bazel-selenium
bazel-testlogs
MODULE.bazel.lock

/.vscode/
/.scannerwork/
/.bazelrc.local

# Engflow
*.crt
*.key
javascript/node/selenium-webdriver/.vscode/settings.json

dotnet-bin
.metadata/
.npmrc
