projectFilesBackup/
*.iws
.DS_Store
.svn
.buckd
.nobuckcheck
buck-out
mockpiframe.log
mockpiframe.log.lck
junitvmwatcher*.properties
test-output/
.*.swp
common/build
firefox/build
htmlunit/build
jobbie/build
selenium/build
support/build
iphone/lib/buildtime-src/cocoahttpserver/build/CocoaHTTPServerLibrary.build/Release-iphonesimulator/CocoaHTTPServer.build
iphone/lib/buildtime-src/build/
iphone/build/
iphone/src/objc/atoms.h
/build/
android/client/bin/
android/server/bin/
android/gen/org/openqa/selenium/android/app/BuildConfig.java
android/gen/org/openqa/selenium/android/app/Manifest.java
android/gen/org/openqa/selenium/android/app/R.java
cpp/IEDriver/IEReturnTypes.h
java/org/openqa/selenium/ie/IeReturnTypes.java
java/client/src/org/openqa/selenium/ie/IeReturnTypes.java
javascript/deps.js
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/scopes/
out
cpp/IEDriver/sizzle.h
third_party/gecko-2/linux
third_party/gecko-2/linux64
third_party/gecko-2/win32
third_party/gecko-1.9.2/linux
third_party/gecko-1.9.2/win32
third_party/gecko-5/linux
third_party/gecko-5/linux64
third_party/gecko-5/win32
third_party/gecko-6
third_party/gecko-7
third_party/gecko-8
third_party/gecko-*
cpp/IEDriver/Generated/atoms.h
chromedriver.log
android/libs
android/bin
android/local.properties
android/proguard.cfg
junit*.properties
WebDriver.suo
WebDriver.sln.cache
*.rbc
.rbx
.yardoc
rb/.yardoc
.tm_properties
maven/*/src
maven/*/target
java/client/build/
java/server/build/
*.pyc
dist/
py/selenium/webdriver/firefox/amd64/
py/selenium/webdriver/firefox/webdriver.xpi
py/selenium/webdriver/firefox/x86/
py/docs/build/
selenium.egg-info/

*.user
*.cache
obj/
*.opensdf
*.suo
*.sdf
Generated/
ipch/
/iedriver.log
/phantomjsdriver.log
.tags
.ruby-version
