dist: trusty
sudo: required
env:
  global:
    - DISPLAY=:99.0
    - PYTEST_ADDOPTS="--verbose --instafail"
    - FF_ESR_BINARY=$HOME/firefox-52.9.0esr/firefox/firefox-bin
    - FF_NIGHTLY_BINARY=$HOME/firefox-latest-nightly/firefox/firefox-bin
git:
  depth: 10

_bindings:
  java: &java
    language: java
    jdk: oraclejdk8
    if: env(BUILD_ONLY) IS NOT present || env(BUILD_ONLY) =~ /java/
  python: &python
    language: python
    python: "2.7"
    jdk: oraclejdk8
    if: env(BUILD_ONLY) IS NOT present || env(BUILD_ONLY) =~ /python/
  ruby: &ruby
    language: ruby
    rvm: 2.4
    jdk: oraclejdk8
    if: env(BUILD_ONLY) IS NOT present || env(BUILD_ONLY) =~ /ruby/
  node: &node
    language: node_js
    node_js: node
    if: env(BUILD_ONLY) IS NOT present || env(BUILD_ONLY) =~ /node/

_browsers:
  firefox: &firefox-latest
    addons:
      firefox: latest
  firefox-esr: &firefox-esr
    addons:
      firefox: "52.9.0esr"
  firefox-nightly: &firefox-nightly
    addons:
      firefox: latest-nightly
  chrome: &chrome
    addons:
      apt:
        packages:
          - google-chrome-stable

cache:
  directories:
    - buck-out
    - build

matrix:
  exclude:
    - env: BUCK="//javascript/atoms:atoms //javascript/webdriver:all_js //javascript/ie-driver:atoms //javascript/chrome-driver:atoms //javascript/android-atoms:atoms ios_driver"
      <<: *java
    - env: CHROME=1 BUCK="test chrome-test"
      <<: *java
      <<: *chrome
    - env: TOXENV=flake8
      <<: *python
    - env: TOXENV=docs
      <<: *python
    - env: CHROME=1 TOXENV=py27-chrome
      <<: *python
      <<: *chrome
    - env: TOXENV=py27-firefox
      <<: *python
      <<: *firefox-esr
    - env: TOXENV=py27-remote
      <<: *python
      <<: *firefox-esr
    - env: MARIONETTE=1 TOXENV=py27-marionette
      <<: *python
      <<: *firefox-nightly
    - env: TASK=//rb:ff-esr-test
      <<: *ruby
      <<: *firefox-esr
    - env: TASK=//rb:remote-ff-esr-test
      <<: *ruby
      <<: *firefox-esr
    - env: CHROME=1 SELENIUM_BROWSER=chrome NPM=test
      <<: *node
      <<: *chrome
  include:
    - env: MARIONETTE=1 SELENIUM_BROWSER=firefox NPM=test
      <<: *node
      <<: *firefox-latest
    - env: BUCK="build selenium-server-standalone java-small-tests chrome-test firefox-test legacy-firefox-test htmlunit-test ie-test opera-test java-small-tests //java/client/test/org/openqa/selenium/testing/drivers/..."
      <<: *java
    - env: BUCK="test //java/client/test/org/openqa/selenium/atoms:test"
      <<: *java
    - env: CHROME=1 TASK="calcdeps" BUCK="test //javascript/atoms:atoms-chrome //javascript/selenium-atoms:selenium-atoms-chrome //javascript/selenium-core:selenium-core-chrome //javascript/webdriver:webdriver-chrome"
      <<: *java
      <<: *chrome
    - env: MARIONETTE=1 MOZ_HEADLESS=1 TASK="calcdeps" BUCK="test //javascript/atoms:atoms-firefox //javascript/webdriver:webdriver-firefox //javascript/selenium-atoms:selenium-atoms-firefox //javascript/selenium-core:selenium-core-firefox"
      <<: *java
      <<: *firefox-latest
    - env: BUCK="test legacy-firefox-test"
      <<: *java
      <<: *firefox-esr
    - env: MARIONETTE=1 BUCK="test firefox-test"
      <<: *java
      <<: *firefox-nightly
    - env: MARIONETTE=1 BUCK="test --labels small --always-exclude //java/..."
      <<: *java
    - env: CHROME=1 BUCK="test chrome-test"
      <<: *java
      <<: *chrome
    - env: BUCK="test htmlunit-test"
      <<: *java
    - env: TASK=javadocs
      <<: *java
    - env: TOXENV=py27-unit
      <<: *python
    - env: TOXENV=flake8
      <<: *python
      python: 3.6
    - env: TOXENV=docs
      <<: *python
      python: 3.6
    - env: TOXENV=py36-unit
      <<: *python
      python: 3.6
    - env: CHROME=1 TOXENV=py36-chrome
      <<: *python
      <<: *chrome
      python: 3.6
    - env: MARIONETTE=1 TOXENV=py36-remote
      <<: *python
      <<: *firefox-nightly
      python: 3.6
    - env: MARIONETTE=1 TOXENV=py36-marionette
      <<: *python
      <<: *firefox-nightly
      python: 3.6
    - env: TASK=//rb:unit-test
      <<: *ruby
    - env: TASK=//rb:unit-test
      <<: *ruby
      rvm: jruby-9.2.6.0
    - env: CHROME=1 TASK=//rb:chrome-test
      <<: *ruby
      <<: *chrome
    - env: MARIONETTE=1 TASK=//rb:firefox-test
      <<: *ruby
      <<: *firefox-latest
    - env: CHROME=1 TASK=//rb:remote-chrome-test
      <<: *ruby
      <<: *chrome
    - env: MARIONETTE=1 TASK=//rb:remote-firefox-test
      <<: *ruby
      <<: *firefox-latest
    - env: TASK=//rb:docs
      <<: *ruby
    - env: TASK=//rb:lint
      <<: *ruby
install: ./scripts/travis/install.sh
before_script: ./scripts/travis/before_script.sh
script: travis_wait ./scripts/travis/script.sh

notifications:
  email: false
  irc:
    channels:
      - secure: K+Wuro8Y/66zt9truTZuZzFmPqiGrFsH/sPzOBDK3+57mL6/vg2NoQCXOTq3U5RLdVKavlvZcm6+9nsNncVPRgzL7ORuW3BgLaBJis3lTA13AqlOnAbXcYytQEulVeWmvPipHFFFqaHs/z77lxm4fKwAAuBnK1f+mXKZDZR2hLo=
    on_success: never
    on_failure: always
    use_notice: true
    skip_join: true
  webhooks:
    urls:
      - secure: "T889SmDnNCj0fJeWkiX0TumHCnjowxpj5VoauVdTXyXT2R3Grjc6WPReQKw8qzQLxyvHWAip23RlYo2+bM5+zUz11jhQej5W+rk7et6AhVaz3UJiWDIqqaWBgQaB5RsbWzdBJTGukqv88Y0iCT4XHaXvY2stV7OxvkVg7wtQVSQ="
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
