prune *
recursive-include common/src/web *.dll *.js *.gif *.html *.cs *.xhtml
recursive-include common/src/web *.txt *.Config
recursive-include common/src/py *.py
recursive-include common/test/py *.py
recursive-include chrome/src/py *.py
recursive-include chrome/src/py *.zip
recursive-include chrome/test/py *.py
recursive-include firefox/src/py *.py
recursive-include firefox/src/py *.zip
recursive-include firefox/src/py *.xpi
recursive-include firefox/test/py *.py
recursive-include jobbie/src/py *.py
recursive-include jobbie/test/py *.py
recursive-include remote/client/src/py *.py
recursive-include remote/client/test/py *.py
include selenium/src/py/selenium.py
include selenium/src/py/__init__.py
include docs/api/py/index.rst
recursive-include selenium.egg-info *

