prune *
recursive-include py/selenium/webdriver *.py
recursive-include py/selenium/webdriver/common *.py
recursive-include py/selenium/common *.py
recursive-include py/selenium/webdriver/chrome *.py
recursive-include py/selenium/webdriver/opera *.py
recursive-include py/selenium/webdriver/firefox *.py *.xpi
recursive-include py/selenium/webdriver/firefox/x86 *.so
recursive-include py/selenium/webdriver/firefox/amd64 *.so
recursive-include py/selenium/webdriver/ie *.py 
recursive-include py/selenium/webdriver/ie/win32 *.dll 
recursive-include py/selenium/webdriver/ie/x64 *.dll
recursive-include py/selenium/webdriver/remote *.py
recursive-include py/selenium/webdriver/support *.py
include py/selenium/selenium.py
include py/selenium/__init__.py
include docs/api/py/index.rst
include py/CHANGES
include py/README
recursive-include selenium.egg-info *

