<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Driver" value="OpenQA.Selenium.Firefox.FirefoxDriver" />
    <add key="Assembly" value="WebDriver" />
    <!--NOTE: To test the legacy FirefoxDriver, uncomment the below lines
        (the "Driver" and "Assembly" settings), and comment the standard ones above here.
        DO NOT COMMIT THIS CHANGE AFTER YOU ARE DONE!-->
    <!--add key="Driver" value="OpenQA.Selenium.Firefox.LegacyFirefoxWebDriver" />
    <add key="Assembly" value="WebDriver.Firefox.Tests" /-->
    <!--NOTE: To test Marionette with Firefox nightly, uncomment the below lines"
        (the "Driver and "Assembly" settings), and comment the standard ones above here.
        DO NOT COMMIT THIS CHANGE AFTER YOU ARE DONE!-->
    <!--add key="Driver" value="OpenQA.Selenium.Firefox.NightlyFirefoxWebDriver" />
    <add key="Assembly" value="WebDriver.Firefox.Tests" /-->
    <add key="DriverName" value="Firefox"/>
    <add key="RemoteCapabilities" value="firefox"/>

    <add key="Protocol" value="http"/>
    <add key="HostName" value="localhost"/>
    <add key="Port" value="2310"/>
    <add key="SecurePort" value="2410"/>
    <add key="Folder" value="common"/>
  </appSettings>
</configuration>
