AddHandler cgi-script rb

# Send any page with a slow.html suffix with a delay
AddHandler slow-down .slow
Action slow-down @PATH_PREFIX@/cgi/send-delayed.rb

<Files send-delayed.rb>
Options +ExecCGI
</Files>
<Files post-results.rb>
Options +ExecCGI
</Files>
