/* Start ZH-CN locale-specific CSS */
body
{
	font-family:MS YaHei, Simsun, Segoe UI, Verdana;
}
pre
{
  font-family:Courier, "Courier New", Consolas, Monospace, 新宋体;
}
span.tt
{
  font-family:Courier, "Courier New", Consolas, Monospace, 新宋体;
}
span.code
{
	font-family:Monospace, Courier New, Courier, 新宋体;
}
/* End locale-specific CSS */
