/* Start JA-JP locale-specific CSS */
body
{
	font-family:Segoe UI, Verdana, Arial, ＭＳ Ｐゴシック;
}
pre
{
  font-family:Courier, "Courier New", Consolas, Monospace, ＭＳ ゴシック;
}
span.tt
{
  font-family:Courier, "Courier New", Consolas, Monospace, ＭＳ ゴシック;
}
span.code
{
	font-family:Monospace, Courier New, Courier, ＭＳ ゴシック;
}
/* End locale-specific CSS */
