<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>The Selenium Project</string>
	<key>Builder Version</key>
	<string>7534.53.10</string>
	<key>CFBundleDisplayName</key>
	<string>WebDriver</string>
	<key>CFBundleIdentifier</key>
	<string>org.openqa.selenium</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.48.0</string>
	<key>CFBundleVersion</key>
	<string>2.48.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>52428800</real>
		<key>Global Page</key>
		<string>extension.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>showlog</string>
				<key>Identifier</key>
				<string>WebDriver</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Label</key>
				<string>WebDriver</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injected/injected_base.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Browser automation made simple</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/SeleniumHQ/selenium</string>
</dict>
</plist>
