body { 
  background: #eeeeee;
}

a { 
  text-decoration: none;
}

.Main { 
  margin: 0px;
}

.Main div { 
  margin: 5px;
}

.Main #credits {
  float: left;
  border: 1px solid black;
  padding: 0px;
  background: #cccccc;
}

.Main #credits a {
  font-family: sans-serif;
  font-size: 110%;
  margin-left: 3;
  color: black;
}

.Main #stats {
  float: left;
}

.Main #stats th { 
  text-align: right;
}

.Main #stats td { 
  text-align: center;
  border: 1px solid #aaaaaa;
  background: #f8f8f8;
}

.Main #testRuns, .Main #commandPasses { 
  color: green;
}

.Main #testFailures, #commandFailures { 
  color: red;
}

.Main #testRuns, .Main #testFailures { 
  font-weight: bold;
}

.Main #mode, .Main #buttons {
  float: right;
}

.Main #mode, .Main #buttons {
  text-align: center;
}

.Main #buttons button { 
  margin: 3px;
}

.Suite table, .Test table { 
  font-size: 75%;
}
