.OC_section
{
	padding:10px;
	margin-bottom:40px;
	border:3px solid #e20725;
	background-color:#faf5f5;
}

.OC_section li a
{
	font-size:14px;
	font-weight:bold;
	color:#004898;
	text-decoration:none;
}

.OC_section li a:hover
{
	font-size:14px;
	font-weight:bold;
	color:blue;
	text-decoration:none;
}

.OC_pageheader
{
	padding-bottom: 20px;
}

.OC_pageheader a
{
	font-size:14px;
	font-weight:bold;
	color:#e20725;
	text-decoration:none;
}

.OC_pageheader a:hover
{	
	font-size:14px;
	font-weight:bold;
	color:#004898;
	text-decoration:none;
}

.OC_header
{
	font-size:18px;
	font-weight:bold;
	padding-bottom:10px;
	color:#b8061e;
}


.OC_subheader
{
	font-size:14px;
	color:black;
	text-decoration:none;
}

.OC_subheader a
{
	font-size:14px;
	font-weight:bold;
	color:#e20725;
}

.OC_subheader a:hover
{
	font-size:14px;
	font-weight:bold;
	color:#004898;
}


.OC_body
{
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	background-repeat: no-repeat;
	background-image: url(background.gif);
	background-position: top right;
	font-size:14px;
}

.OC_h1
{
	color:#b8061e;
}