.Common-Spacer
{
	font-size:1px;
	text-decoration: none;
}

.Common-Shadow
{
	position:absolute;
	font-size:1px;
	text-decoration: none;
	background-color:black;
	filter:alpha(opacity=30);
	opacity:.3;
	display:none;
}

.Common-Overlay
{
	position:absolute;
	font: 1px verdana,arial,helvetica,"sans-serif";
	top:0;
	left:0;
	background-color: red;
	filter:alpha(opacity=00);
	opacity:.0;
	display:block;
	z-index:-1;
}

.DatePicker-Input
{
	color: #000000;
	font-size: 10px;
	text-decoration: none;
	display:block;
}

.DatePicker-Popup
{
	width: 200px;
	height:100px;
	left: 0px;
	top: 0px;
	position: absolute;
	display: none;
	overflow: visible;
	z-index: 1001;
}

.DatePicker-Inline
{
	display:block;
	position: relative;
}

.DatePicker-CalTable
{
	background-color: #666666;
	border: 2px solid #666666;
	cursor: default;
}
	

.DatePicker-CalHeadCell
{
	position: relative;
}

.DatePicker-Select
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
}

.DatePicker-DOWCell
{
	font-family: verdana,arial,sans-serif;
	font-size: 8pt;
	background-color: #999999;
	color: white;
	font-weight: normal;
	cursor: default;
}

.DatePicker-Week
{
	font-family: Verdana,  Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	color: black;
	background-color: white;
}

.DatePicker-GrayDate
{
	background-color: #EEEEEE;
}

.DatePicker-GrayDate A
{
	font-family: Verdana,  Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: underline;
	color: #999999;
	cursor: default;
}

.DatePicker-GrayDate A:hover
{
	font-family: Verdana,  Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: underline;
	color: red;
	cursor: default;
}

.DatePicker-DayCell A
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration:underline;
	color:#003399;
}

.DatePicker-DayCell A:hover
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration:underline;
	color:red;
}

.DatePicker-SelectedDate
{
	background-color: #BED2ED;
}

.DatePicker-SelectedDate A
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: underline;
	background-color: #BED2ED;
}

.DatePicker-SelectedDate A:hover
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: underline;
	background-color: #BED2ED;
}

.DatePicker-GrayInvalidDate
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	background-color: #CCCCCC;
	color: #999999;
	cursor: default;
}

.DatePicker-TodayCell A
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: blue;
}


.DatePicker-TodayCell A:hover 
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: red;
}

.DatePicker-SelectedTodayCell
{
	background-color: #BED2ED;
}

.DatePicker-SelectedTodayCell A
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: blue;
	background-color: #BED2ED;
}


.DatePicker-SelectedTodayCell A:hover 
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: red;
	background-color: #BED2ED;
}

.Dialog-Panel
{
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:10000;
	padding:2px;
}

.Dialog-Title
{
	font-weight:bold;
	font-size:14px;
	text-align:left;
	padding-left: 10px;
	padding-top:5px;
	padding-bottom:5px;
}

.Dialog-Buttons
{
	text-align:right;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}

.Dialog-Content
{
	height:100%;
}


.Dialog-Footer
{
	padding:1px;
	text-align:right;
}

.Dialog-ModalPanel
{
	position:absolute;
	font: 1px verdana,arial,helvetica,"sans-serif";
	top:0;
	left:0;
	background-color: #909090;
	filter:alpha(opacity=75);
	opacity:.75;
	display:block;
	z-index:-1;
}
	
.Slider-Groove
{
	background-color: #EDEDED;
	font-size: 1px;
}

.Slider-HTickmark
{
	
	font-size: 1px;
	border-right: 1px solid #999999;
	height: 5px;
}

.Slider-VTickmark
{
	
	font-size: 1px;
	border-bottom: 1px solid #999999;
	width: 5px;
}

.Slider-Input
{
	color: #000000;
	font-size: 10px;
	text-decoration: none;
	width: 50px;
}

.Slider-HandleImage
{
	position:absolute;
	top:0;
	left:0;
	z-index:1003;
}

.SuggestionInput-Item
{
	padding:2px;
	text-align: left;
	cursor: hand;
	color: #000000;
	text-decoration: none;
}
