<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Driver" value="OpenQA.Selenium.Chrome.ChromeDriver" />
    <add key="Assembly" value="WebDriver" />
    <add key="DriverName" value="Chrome"/>
    <add key="RemoteCapabilities" value="chrome"/>

    <add key="Protocol" value="http"/>
    <add key="HostName" value="localhost"/>
    <add key="Port" value="2310"/>
    <add key="Folder" value="common"/>
  </appSettings>
</configuration>
