attrs
dataclasses
h11
idna
importlib_metadata
inflection
iniconfig
more_itertools
multidict
outcome
pluggy
py
pytest
pytest-instafail
pytest-mock
pytest-trio
sortedcontainers
sniffio
trio
trio_websocket
zipp
