attrs==25.4.0
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
debugpy==1.8.17
distlib==0.4.0
docutils==0.21.2
filelock==3.20.0
filetype==1.2.0
h11==0.16.0
id==1.5.0
idna==3.11
importlib_metadata==8.7.0
inflection==0.5.1
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
keyring==25.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
multidict==6.7.0
nh3==0.3.2
outcome==1.3.0.post0
packaging==25.0
platformdirs==4.5.0
pluggy==1.6.0
py==1.11.0
pycparser==2.23
Pygments==2.19.2
pyproject-api==1.10.0
PySocks==1.7.1
pytest==9.0.0
pytest-instafail==0.5.0
pytest-mock==3.15.1
pytest-trio==0.8.0
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
SecretStorage==3.4.0
sniffio==1.3.1
sortedcontainers==2.4.0
tox==4.32.0
trio==0.32.0
trio-websocket==0.12.2
twine==6.2.0
typing_extensions==4.15.0
urllib3[socks]==2.5.0
virtualenv==20.35.4
websocket-client==1.9.0
wsproto==1.2.0
zipp==3.23.0
