<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>web-app</key>
	<dict>
		<key>servlet</key>
		<array>
			<dict>
				<key>init-param</key>
				<dict>
					<key>cachePackageTagsRefresh</key>
					<real>60</real>
					<key>cachePackageTagsStore</key>
					<real>200</real>
					<key>cachePackageTagsTrack</key>
					<real>200</real>
					<key>cachePagesDirtyRead</key>
					<real>10</real>
					<key>cachePagesRefresh</key>
					<real>10</real>
					<key>cachePagesStore</key>
					<real>100</real>
					<key>cachePagesTrack</key>
					<real>200</real>
					<key>cacheTemplatesRefresh</key>
					<real>15</real>
					<key>cacheTemplatesStore</key>
					<real>50</real>
					<key>cacheTemplatesTrack</key>
					<real>100</real>
					<key>configGlossary:adminEmail</key>
					<string>ksm@pobox.com</string>
					<key>configGlossary:installationAt</key>
					<string>Philadelphia, PA</string>
					<key>configGlossary:poweredBy</key>
					<string>Cofax</string>
					<key>configGlossary:poweredByIcon</key>
					<string>/images/cofax.gif</string>
					<key>configGlossary:staticPath</key>
					<string>/content/static</string>
					<key>dataStoreClass</key>
					<string>org.cofax.SqlDataStore</string>
					<key>dataStoreConnUsageLimit</key>
					<real>100</real>
					<key>dataStoreDriver</key>
					<string>com.microsoft.jdbc.sqlserver.SQLServerDriver</string>
					<key>dataStoreInitConns</key>
					<real>10</real>
					<key>dataStoreLogFile</key>
					<string>/usr/local/tomcat/logs/datastore.log</string>
					<key>dataStoreLogLevel</key>
					<string>debug</string>
					<key>dataStoreMaxConns</key>
					<real>100</real>
					<key>dataStoreName</key>
					<string>cofax</string>
					<key>dataStorePassword</key>
					<string>dataStoreTestQuery</string>
					<key>dataStoreTestQuery</key>
					<string>SET NOCOUNT ON;select test='test';</string>
					<key>dataStoreUrl</key>
					<string>jdbc:microsoft:sqlserver://LOCALHOST:1433;DatabaseName=goon</string>
					<key>dataStoreUser</key>
					<string>sa</string>
					<key>defaultFileTemplate</key>
					<string>articleTemplate.htm</string>
					<key>defaultListTemplate</key>
					<string>listTemplate.htm</string>
					<key>jspFileTemplate</key>
					<string>articleTemplate.jsp</string>
					<key>jspListTemplate</key>
					<string>listTemplate.jsp</string>
					<key>maxUrlLength</key>
					<real>500</real>
					<key>redirectionClass</key>
					<string>org.cofax.SqlRedirection</string>
					<key>searchEngineFileTemplate</key>
					<string>forSearchEngines.htm</string>
					<key>searchEngineListTemplate</key>
					<string>forSearchEnginesList.htm</string>
					<key>searchEngineRobotsDb</key>
					<string>WEB-INF/robots.db</string>
					<key>templateLoaderClass</key>
					<string>org.cofax.FilesTemplateLoader</string>
					<key>templateOverridePath</key>
					<string></string>
					<key>templatePath</key>
					<string>templates</string>
					<key>templateProcessorClass</key>
					<string>org.cofax.WysiwygTemplate</string>
					<key>useDataStore</key>
					<true/>
					<key>useJSP</key>
					<false/>
				</dict>
				<key>servlet-class</key>
				<string>org.cofax.cds.CDSServlet</string>
				<key>servlet-name</key>
				<string>cofaxCDS</string>
			</dict>
			<dict>
				<key>init-param</key>
				<dict>
					<key>mailHost</key>
					<string>mail1</string>
					<key>mailHostOverride</key>
					<string>mail2</string>
				</dict>
				<key>servlet-class</key>
				<string>org.cofax.cds.EmailServlet</string>
				<key>servlet-name</key>
				<string>cofaxEmail</string>
			</dict>
			<dict>
				<key>servlet-class</key>
				<string>org.cofax.cds.AdminServlet</string>
				<key>servlet-name</key>
				<string>cofaxAdmin</string>
			</dict>
			<dict>
				<key>servlet-class</key>
				<string>org.cofax.cds.FileServlet</string>
				<key>servlet-name</key>
				<string>fileServlet</string>
			</dict>
			<dict>
				<key>init-param</key>
				<dict>
					<key>adminGroupID</key>
					<real>4</real>
					<key>betaServer</key>
					<true/>
					<key>dataLog</key>
					<real>1</real>
					<key>dataLogLocation</key>
					<string>/usr/local/tomcat/logs/dataLog.log</string>
					<key>dataLogMaxSize</key>
					<string></string>
					<key>fileTransferFolder</key>
					<string>/usr/local/tomcat/webapps/content/fileTransferFolder</string>
					<key>log</key>
					<real>1</real>
					<key>logLocation</key>
					<string>/usr/local/tomcat/logs/CofaxTools.log</string>
					<key>logMaxSize</key>
					<string></string>
					<key>lookInContext</key>
					<real>1</real>
					<key>removePageCache</key>
					<string>/content/admin/remove?cache=pages&amp;id=</string>
					<key>removeTemplateCache</key>
					<string>/content/admin/remove?cache=templates&amp;id=</string>
					<key>templatePath</key>
					<string>toolstemplates/</string>
				</dict>
				<key>servlet-class</key>
				<string>org.cofax.cms.CofaxToolsServlet</string>
				<key>servlet-name</key>
				<string>cofaxTools</string>
			</dict>
		</array>
		<key>servlet-mapping</key>
		<dict>
			<key>cofaxAdmin</key>
			<string>/admin/*</string>
			<key>cofaxCDS</key>
			<string>/</string>
			<key>cofaxEmail</key>
			<string>/cofaxutil/aemail/*</string>
			<key>cofaxTools</key>
			<string>/tools/*</string>
			<key>fileServlet</key>
			<string>/static/*</string>
		</dict>
		<key>taglib</key>
		<dict>
			<key>taglib-location</key>
			<string>/WEB-INF/tlds/cofax.tld</string>
			<key>taglib-uri</key>
			<string>cofax.tld</string>
		</dict>
	</dict>
</dict>
</plist>
