<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for WebDriver" Description="Code analysis rules for WebDriver.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1627" Action="Warning" />
    <Rule Id="SA1629" Action="Warning" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1644" Action="Warning" />
  </Rules>
</RuleSet>