<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Driver" value="OpenQA.Selenium.Safari.SafariDriver" />
    <add key="Assembly" value="WebDriver" />
    <add key="DriverName" value="Safari"/>
    <add key="RemoteCapabilities" value="safari"/>
		
    <add key="Protocol" value="http"/>
    <add key="HostName" value="localhost"/>
    <add key="Port" value="2310"/>
    <add key="SecurePort" value="2410"/>
    <add key="Folder" value="common"/>
  </appSettings>
</configuration>
