group nuget
framework: net8.0,netstandard2.0
strategy: min
source https://api.nuget.org/v3/index.json

nuget BenderProxy 1.0.0
nuget CommandLineParser 2.8.0
nuget Handlebars.Net 1.11.5
nuget Humanizer.Core 2.8.26
nuget Microsoft.Extensions.DependencyInjection 3.1.9
nuget Moq 4.20.72
nuget NETStandard.Library 2.0.3
nuget Newtonsoft.Json 13.0.1
nuget NUnit 3.13.2
nuget NUnitLite 3.13.2
nuget System.Text.Json 8.0.5
nuget Runfiles 0.14.0
