<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Driver" value="OpenQA.Selenium.Android.AndroidDriver" />
    <add key="Assembly" value="WebDriver.Android" />
    <add key="DriverName" value="Android"/>
    <add key="RemoteCapabilities" value="android"/>

    <add key="Protocol" value="http"/>
    <add key="HostName" value="10.0.2.2"/>
    <add key="Port" value="2310"/>
    <add key="Folder" value="common"/>
  </appSettings>
</configuration>
