<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>""</key>
    <string/>

    <key>" spaces "</key>
    <string> spaces </string>

    <key>"/"</key>
    <string>/</string>

    <key>"\\ \" \\ \""</key>
    <string>\ " \ "</string>

    <key>"foo\""</key>
    <string>foo"</string>

    <key>"foo\"\""</key>
    <string>foo""</string>

    <key>"foo\"\"bar"</key>
    <string>foo""bar</string>

    <key>"foo\"bar"</key>
    <string>foo"bar</string>

    <key>"foo\\"</key>
    <string>foo\</string>

    <key>"foo\\\\bar"</key>
    <string>foo\\bar</string>

    <key>"foo\\bar"</key>
    <string>foo\bar</string>

    <key>"foobar"</key>
    <string>foobar</string>

    <key>"with internal   spaces"</key>
    <string>with internal   spaces</string>
</dict>
</plist>

