<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/third_party/java/testng/testng-6.9.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/third_party/java/testng/testng-6.9.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>