<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for WebDriver.Support" Description="Code analysis rules for WebDriver.Support.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1636" Action="None" />
  </Rules>
</RuleSet>