<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Driver" value="OpenQA.Selenium.IE.InternetExplorerDriver" />
		<add key="Assembly" value="WebDriver" />
		<add key="DriverName" value="IE"/>
    <add key="RemoteCapabilities" value="internet explorer"/>

    <add key="Protocol" value="http"/>
		<add key="HostName" value="localhost"/>
		<add key="Port" value="2310"/>
		<add key="Folder" value="common"/>
	</appSettings>
</configuration>
