.error { 
  color: #FF0000;
}

treechildren::-moz-tree-cell-text(comment)
{
  color: #AA33AA;
}

treechildren::-moz-tree-cell(recordIndex)
{
  border-top: 1px solid #008800;
}

treechildren::-moz-tree-row(commandFailed)
{
  background-color: #FFCCCC;
}

treechildren::-moz-tree-row(commandPassed)
{
  background-color: #CCFFCC;
}

treechildren::-moz-tree-row(commandDone)
{
  background-color: #EEFFEE;
}

treechildren::-moz-tree-row(debugIndex)
{
  background-color: #FFFFCC;
}

treechildren::-moz-tree-row(commandFailed, selected, focus)
{
  background-color: Highlight;
}

treechildren::-moz-tree-image(breakpoint)
{
  list-style-image: url("breakpoint.png");
  -moz-box-align: center;
}

