.error { 
  color: #FF0000;
}

/*
 * Tree View
 */
treechildren::-moz-tree-cell-text(comment)
{
  color: #AA33AA;
}

treechildren::-moz-tree-cell(recordIndex)
{
  border-top: 1px solid #008800;
}

treechildren::-moz-tree-row(commandFailed)
{
  background-color: #FFCCCC;
}

treechildren::-moz-tree-row(commandPassed)
{
  background-color: #CCFFCC;
}

treechildren::-moz-tree-row(commandDone)
{
  background-color: #EEFFEE;
}

treechildren::-moz-tree-row(debugIndex)
{
  background-color: #FFFFCC;
}

/*
treechildren::-moz-tree-row(selected, focus)
{
  background-color: Highlight !important;
}
*/

treechildren::-moz-tree-image(breakpoint)
{
  list-style-image: url("icons/breakpoint.png");
  -moz-box-align: center;
}

/*
 * Log Console
 */

#logBox {
  margin: 8px;
  border: 1px solid #aaa;
}

#logMenu {
  border-bottom: 1px solid #aaa;
}

#logLabel { 
  font-weight: bold;
}

/*
 * Toolbar icons
 */

toolbarbutton.icon {
  padding-left: 4px;
  padding-right: 4px;
}

toolbarbutton:hover:not([disabled="true"]) { 
  background-color: #aaaaaa;
}

toolbarbutton.icon:not([disabled="true"]) { 
  list-style-image: url("icons/icons.png");
}

toolbarbutton.icon[disabled="true"] { 
  list-style-image: url("icons/icons_disabled.png");
}

toolbarbutton.icon image {
  margin-right: 0px;
}

toolbarbutton.icon label {
  display: none;
}

#play-button { 
  -moz-image-region: rect(0px 16px 16px 0px);
}
.pause#pause-button { 
  -moz-image-region: rect(0px 32px 16px 16px);
}
.resume#pause-button { 
  -moz-image-region: rect(0px 80px 16px 64px);
}
#record-button:not([checked="true"]) { 
  -moz-image-region: rect(0px 48px 16px 32px);
}
#record-button[checked="true"] {
  -moz-image-region: rect(16px 48px 32px 32px);
}
#step-button { 
  -moz-image-region: rect(0px 64px 16px 48px);
}
#testrunner-button { 
  -moz-image-region: rect(0px 96px 16px 80px);
}
