.error { 
  color: #FF0000;
}

treechildren::-moz-tree-cell-text(comment)
{
  color: #AA33AA;
}

treechildren::-moz-tree-cell(recordIndex)
{
  border-top: 1px solid #008800;
}

treechildren::-moz-tree-row(commandFailed)
{
  background-color: #FF8888;
}

treechildren::-moz-tree-row(commandPassed)
{
  background-color: #88FFAA;
}

treechildren::-moz-tree-row(commandFailed, selected, focus)
{
  background-color: Highlight;
}

treechildren::-moz-tree-row(commandPassed, selected, focus)
{
  background-color: Highlight;
}

treechildren::-moz-tree-row(debugIndex)
{
  border: 1px solid #6688FF;
}

treechildren::-moz-tree-row(debugIndex, commandFailed)
{
  border: 1px solid #6688FF;
  background-color: #FF8888;
}

treechildren::-moz-tree-row(debugIndex, commandPassed)
{
  border: 1px solid #6688FF;
  background-color: #88FFAA;
}

