<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Paul's Blog</display-name>

	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<taglib>
		<taglib-uri>sitemesh-page</taglib-uri>
		<taglib-location>/WEB-INF/lib/sitemesh-page.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>sitemesh-decorator</taglib-uri>
		<taglib-location>/WEB-INF/lib/sitemesh-decorator.tld</taglib-location>
	</taglib>

</web-app>
