<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Author</key>
		<string>Rob W</string>
		<key>Builder Version</key>
		<string>7536.25</string>
		<key>CFBundleDisplayName</key>
		<string>Storage persistency test</string>
		<key>CFBundleIdentifier</key>
		<string>nl.robwu.testSeleniumMultiExt</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>Content</key>
		<dict>
			<key>Scripts</key>
			<dict>
				<key>Start</key>
				<array>
					<string>setAttribute.js</string>
				</array>
			</dict>
		</dict>
		<key>Description</key>
		<string>Adds an attribute to the root node of all pages, used to test whether custom Safari extensions have successfully been installed.</string>
		<key>ExtensionInfoDictionaryVersion</key>
		<string>1.0</string>
		<key>Permissions</key>
		<dict>
			<key>Website Access</key>
			<dict>
				<key>Include Secure Pages</key>
				<true/>
				<key>Level</key>
				<string>All</string>
			</dict>
		</dict>
	</dict>
</plist>
