name: CI - .NET

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build
    uses: ./.github/workflows/bazel.yml
    with:
      name: Build
      cache-key: false
      os: windows
      run: bazel build //dotnet:all

  integration-tests:
    name: Browser Tests
    uses: ./.github/workflows/bazel.yml
    with:
      name: Browser Tests
      cache-key: false
      java-version: 17
      os: windows
      run: |
        bazel test //dotnet/test/common:ElementFindingTest-firefox //dotnet/test/common:ElementFindingTest-chrome --pin_browsers=true
